<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="setExecutive()" fill="outline">
        <ion-icon name="person-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;">Calculadora de Cuotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="installmentForm">
  <ion-header collapse="condense">
    <ion-toolbar>
      <h2>Calculadora de Cuotas</h2>
    </ion-toolbar>
  </ion-header>


  
  
  
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="datetime"
        presentation="date"
        formControlName="date"
        (ionChange)="onChangeDate($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
  
  <ion-card>
    <ion-card-content>
      <ion-item>
          <ion-input (ionInput)="changeTotal($event)" formControlName="total" label="Monto Total" labelPlacement="floating"
          [maskito]="amountMask"
          [maskitoElement]="maskitoElement"></ion-input>
      </ion-item>
  
      <ion-item [disabled]="!installmentList.length">
          <ion-select formControlName="totalInstallment" label="Cuotas" interface="popover">
            @for (value of installmentList; track value) {
              <ion-select-option [value]="value">{{ value }}</ion-select-option>
            }
          </ion-select>
      </ion-item>


      <ion-item>
        <ion-input formControlName="clientName" label="Nombre Del Cliente" labelPlacement="floating"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="RUT" label="RUT" labelPlacement="floating"></ion-input>
      </ion-item>

      @if (requireAddress) {
        <ion-item>
          <ion-input formControlName="address" label="Direccion" labelPlacement="floating"></ion-input>
        </ion-item>
      }
    </ion-card-content>

    @if (!requireAddress && installmentForm.valid) {
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="requireAddress = true">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Dirección
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    }
  </ion-card>


  @if (installments.length) {
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Cheques</ion-card-subtitle>
      </ion-card-header>

      @for (installment of installments; track installment.index) {
        <ion-item (click)="clickInstallment(installment)" button detail="false">
          <ion-label>
            <ion-badge>N<small>ro</small> {{ installment.index }}</ion-badge>
            <p>{{ installment.date | date: 'dd-MM-yyyy'}}</p>
          </ion-label>

          <ion-label slot="end">
            <h2>{{ installment.fixedAmount || installment.amount | number: '0.2-2' }}</h2>
          </ion-label>
        </ion-item>
      }
    </ion-card>
  }


  <div class="ion-padding"></div>
</ion-content>


<ion-footer class="ion-text-right">
  @if (installments.length) {
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="clickedReset()" size="small" fill="outline">
          NUEVO
        </ion-button>
      </ion-buttons>
      
      <ion-buttons slot="end">
        <ion-button (click)="downloadPDF()" color="danger" size="small" fill="outline">
          PDF
          <ion-icon name="download-outline" slot="end"></ion-icon>
        </ion-button>
        <ion-button (click)="downloadEXCEL()" color="success" size="small" fill="outline">
          EXCEL
          <ion-icon name="download-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  }
  @else {
    <span style="font-weight: 600;">
      <ion-text color="primary">KON</ion-text>
      <ion-text color="danger">3</ion-text>
      <ion-text color="primary">CTADOS</ion-text>
    </span>
  }
</ion-footer>
